.quality-page {
  .list-group-item {
    margin-bottom: $spacer * 0.5;
    border-left: 4px solid $primary;
    @include transition();
    
    &:hover {
      background-color: rgba($primary, 0.05);
    }
  }
}